<a href="https://colab.research.google.com/github/Mohit03singh/ALMAX_PYTHON_COMPETITION/blob/main/Almax_do_select_python_questions_AND_Pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PYTHON COMETITON 1

In [ ]:
accounts=eval(input())
money=[]
for i in accounts:
  money.append(sum(i))
print(max(money))

[[1,2,3],[3,2,1]]
6

In [ ]:
input_list=eval(input())
non_zero=[]
zeros=[]
for i in input_list:
  if i!=0:
    non_zero.append(i)
  else:
    zeros.append(i)
print(non_zero+zeros)

3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 3, 9, 7, 1
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 3, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
def third_max(nums):
    nums = sorted(set(nums), reverse=True)  # Remove duplicates and sort in descending order
    if len(nums) < 3:
        return nums[0]  # If less than 3 distinct elements, return the maximum number
    else:
        return nums[2]  # Return the third distinct maximum number

# Example
nums = (3, 2, 1)
result = third_max(nums)
print("Output:",result)

Output: 1

In [ ]:
#Question 4 :
def fibonacci(n):
    fib_series = []  # Initialize Fibonacci series
    a, b = 0, 1  # Initialize first two Fibonacci numbers

    for _ in range(n):
        fib_series.append(a)
        a, b = b, a + b  # Generate next Fibonacci number

    return fib_series

# Input
n = int(input("Enter the number of Fibonacci numbers to generate: "))

# Output
fib_series = fibonacci(n)
print("Fibonacci Series:")
print(' '.join(map(str, fib_series)))  # Convert numbers to strings and concatenate them with spaces

Enter the number of Fibonacci numbers to generate: 5
Fibonacci Series:
0 1 1 2 3

### PYTHON_COMPETITION 2

In [ ]:
#Question 5:
def closest_pair_indices(nums):
    min_diff = float('inf')  # Initialize minimum difference as positive infinity
    closest_indices = (0, 1)  # Initialize indices of the closest pair

    for i in range(len(nums)):
        for j in range(i + 1, len(nums)):
            diff = abs(nums[i] - nums[j])
            if diff < min_diff:
                min_diff = diff
                closest_indices = (i, j)

    return closest_indices

# Input
nums = (1, 7, 9, 2, 10)

# Output
result = closest_pair_indices(nums)
print(result)

(0, 3)

In [ ]:
def compute_depths(s):
    depths = []
    current_depth = 0
    group_depths = []

    for char in s:
        if char == '(':
            current_depth += 1
            group_depths.append(current_depth)
        elif char == ')':
            group_depths.append(current_depth)
            current_depth -= 1
        elif char == ' ':
            # We hit a space, which means we need to finalize the current group
            if group_depths:
                depths.append(max(group_depths))
                group_depths = []

    # Finalize the last group if there is any
    if group_depths:
        depths.append(max(group_depths))

    return depths

# Test the function with the given input
input_string = input()
print(compute_depths(input_string))

(()) (()) () ((()()()))
[2, 2, 1, 3]

In [ ]:
def find_buildings_with_ocean_view(heights):
    n = len(heights)
    ocean_view_indices = []

    # Initialize the maximum height encountered from the right
    max_height = float('-inf')

    # Traverse from right to left
    for i in range(n - 1, -1, -1):
        if heights[i] > max_height:
            ocean_view_indices.append(i)
            max_height = heights[i]

    # Reverse the list to get indices sorted in increasing order
    ocean_view_indices.reverse()

    return ocean_view_indices

# Example usage
heights =eval(input())
print(find_buildings_with_ocean_view(heights))

[4, 2, 3, 1]
[0, 2, 3]

In [ ]:
word1 =input()
word2 =input()
def merge_alternately(word1, word2):
    merged_string = []
    len1, len2 = len(word1), len(word2)
    max_len = max(len1, len2)

    for i in range(max_len):
        if i < len1:
            merged_string.append(word1[i])
        if i < len2:
            merged_string.append(word2[i])

    return ''.join(merged_string)p

result = merge_alternately(word1, word2)
print(result)  # Output: "apbqcr"

abc
pqr
apbqcr

In [ ]:
def sort_people(names, heights):

    people = list(zip(heights, names))

    people.sort(reverse=True, key=lambda x: x[0])

    sorted_names = [name for height, name in people]

    return sorted_names

names =eval(input())
heights =eval(input())
sorted_names = sort_people(names, heights)
print(sorted_names)  # Output: ['Mary', 'Emma', 'John']

['Mary','John','Emma',]
[180,165,170]
['Mary', 'Emma', 'John']

In [ ]:
def num_subarray_bounded_max(nums, left, right):
    def count(bound):
        ans = curr = 0
        for x in nums:
            if x <= bound:
                curr += 1
                ans += curr
            else:
                curr = 0
        return ans

    return count(right) - count(left - 1)

nums =eval(input())
left = int(input())
right = int(input())
output = num_subarray_bounded_max(nums, left, right)
print(output)

[2, 1, 4, 3]
2
3
3

In [ ]:
def left_triangle_number_pattern(n):
    current_number = 1
    for i in range(1, n + 1):
        for j in range(i):
            print(current_number, end="")
            current_number += 1
        print()

# Example usage
n = int(input())
left_triangle_number_pattern(n)

4
1
23
456
78910

In [ ]:
def print_diamond_pattern(rows):

    for i in range(1, rows + 1):
        print(" " * (rows - i), end="")
        for j in range(1, 2 * i):
            print("*", end="")
        print()
    for i in range(rows - 1, 0, -1):
        print(" " * (rows - i), end="")
        for j in range(1, 2 * i):
            print("*", end="")
        print()

if __name__ == "__main__":
    rows = int(input().strip())
    print_diamond_pattern(rows)

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
def remove_duplicates(s: str):
    stack = []

    for char in s:
        if stack and stack[-1] == char:
            stack.pop()
        else:
            stack.append(char)

    return ''.join(stack)

# Example usage
s = input()
print(remove_duplicates(s))

abbaca
ca

In [ ]:
def remove_duplicates(s: str):
    stack = []

    for char in s:
        if stack and stack[-1] == char:
            stack.pop()
        else:
            stack.append(char)

    return ''.join(stack)

# Example usage
s = input()
print(remove_duplicates(s))

abbca
aca

In [ ]:
#Dictionary to map digits to their corresponding English words
digit_to_word = {
    0: 'zero',
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine'
}

# List of numbers as input
input_numbers =eval(input())

# Filter out non-single digit numbers
single_digits = [num for num in input_numbers if 0 <= num <= 9]

# Sort the single digits in reverse order
single_digits.sort(reverse=True)

# Convert digits to words
words = [digit_to_word[num] for num in single_digits]

# Print the output
print(words)

[1, 3, 4, 5, 11]
['five', 'four', 'three', 'one']

In [ ]:
def print_unique_number_pattern(N):
    num_list = list(range(1, N*N + 1))

    # Split the list into chunks of size N
    chunks = [num_list[i:i+N] for i in range(0, len(num_list), N)]

    # Manually reorder the chunks to match the desired pattern
    result = [chunks[0], chunks[2], chunks[4], chunks[3], chunks[1]]

    for chunk in result:
        print(' '.join(map(str, chunk)))

N=int(input())
print(print_unique_number_pattern(N))

5
1 2 3 4 5
11 12 13 14 15
21 22 23 24 25
16 17 18 19 20
6 7 8 9 10
None

In [ ]:
#Function to print the hollow V number pattern
def print_hollow_v_pattern(N):
    for i in range(1, N + 1):
        # Print the left part of the pattern
        for j in range(1, i + 1):
            print(j, end='')
        # Print spaces
        space_count = 2 * (N - i)
        print(' ' * space_count, end='')
        # Print the right part of the pattern
        for j in range(i, 0, -1):
            print(j, end='')
        print()  # Move to the next line

# Input
N = 5

# Print the pattern
print_hollow_v_pattern(N)

1        1
12      21
123    321
1234  4321
1234554321

In [ ]:
n=6
for i in range(1,n):
  for j in range(n,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(k,end="")
  print()

     1
    12
   123
  1234
 12345

In [ ]:
def single_digits(num):
    # Dictionary to map digits to words
    dig_to_word = {
        0: "zero", 1: 'one', 2: 'two', 3: 'three', 4: 'four',
        5: 'five', 6: "six", 7: "seven", 8: "eight", 9: 'nine'
    }

    # Filter out single digits from the input list
    single_digit = [n for n in num if 0 <= n < 10]

    # Sort the single digits in descending order
    single_digit_sorted = sorted(single_digit, reverse=True)

    # Convert the digits to their corresponding words
    words = [dig_to_word[n] for n in single_digit_sorted]

    return words

# Input list of numbers
num = eval(input())

# Print the resulting list of words
print(single_digits(num))

[1, 3, 4, 5, 11]
['five', 'four', 'three', 'one']

In [ ]:
string = "AlmaBetter"
char_to_remove = "t"

new_string = string.replace(char_to_remove, " ").lower()
print(new_string)

almabe  er

In [ ]:
def print_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(chr(64 + j), end="")
        print()

n=int(input())
print_pattern(n)

4
A
AB
ABC
ABCD

In [ ]:
n=4d
for i in range(n,0,-1):
  for j in range(i):
    print(i,end='')
  print()

4444
333
22
1

### <h1> Pattern</h1>

In [ ]:
n=int(input())
for i in range(n):
  for j in range(i+1):
    print('*',end='')
  print() # for new line

5
*
**
***
****
*****

In [ ]:
n=4
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print('*',end='')
  print()

****
***
**
*

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i):
    print(i,end='')
  print()

1
22
333
4444
55555

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(i):
    print(i,end='')
  print()

55555
4444
333
22
1

In [ ]:
n=6
for i in range(1,n):
  for j in range(1,i+1):
    print(i,end='')
  print()

1
12
123
1234
12345

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end='')
  print()

12345
1234
123
12
1

In [ ]:
n=5
for i in range(1,n):
  for j in range(i,0,-1):
    print(j,end='')
  print()

1
21
321
4321

In [ ]:
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j,end='')
  print()

54321
4321
321
21
1

In [ ]:
n=6
for i in range(1,n):
  for j in range(n,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print()

     *
    **
   ***
  ****
 *****

In [ ]:
for i in range(n,0,-1):
  for j in range(n,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print('*',end="")
  print()

******
 *****
  ****
   ***
    **
     *

In [ ]:
n=6
for i in range(1,n):
  for j in range(n,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(k,end="")
  print()

     1
    12
   123
  1234
 12345

In [ ]:
for i in range(n,0,-1):
  for j in range(n,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(k,end="")
  print()

123456
 12345
  1234
   123
    12
     1

In [ ]:
for i in range(1,n):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(i,end="")
  print()

    1
   22
  333
 4444

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(5,i,-1):
    print(" ",end="")
  for k in range(1,i+1):
    print(i,end="")
  print()

55555
 4444
  333
   22
    1

In [ ]:
def print_pattern(n):
    for i in range(1, n + 1):
        for j in range(1, i + 1):
            print(chr(64 + j), end="")
        print()

n=int(input())
print_pattern()

A
AB
ABC
ABCD

In [ ]:
# Function to print the reverse pyramid star pattern
def print_reverse_pyramid(n):
    # Outer loop for rows
    for i in range(n):
        # Print leading spaces
        for j in range(i):
            print(' ', end='')

        # Print stars
        for j in range(2 * (n - i) - 1):
            print('*', end='')

        # New line after each row
        print()

# User input
n = int(input("Enter an integer n: "))
print_reverse_pyramid(n)

Enter an integer n: 5

 *
  ***
   *****
    *******

In [ ]:
for i in range(n,0,-1):
 for j in range(n,i,-1):
  print(' ',end="")
 for k in range(1,i+1):
  print('*',end='')
 print()
 for l in range()

*****
 ****
  ***
   **
    *

In [ ]:
n=5
for i in range(n,0,-1):
  print(' '*(n-i),'*'*i)
for j in range(n,0,-1):
  print(' '*(n-i),'*'*i)

 *****
  ****
   ***
    **
     *
     *
     *
     *
     *
     *

In [ ]:
for i in range(1,7):
  print(' '*(6-i),'*'*i,'*'*(i-1),sep='')

     *
    ***
   *****
  *******
 *********
***********

In [ ]:
n=6
for i in range(n,0,-1):
  print(' '*(n-i),'*'*i,'*'*(i-1),sep='')

***********
 *********
  *******
   *****
    ***
     *

In [ ]:
n = int(input("Enter an integer n: "))
for i in range(1, n + 1):
    # Print leading spaces
    for j in range(n, i, -1):
        print(" ", end="")
    # Print numbers in increasing order
    for k in range(1, i + 1):
        print(k, end="")
    print()

Enter an integer n: 4
   1
  12
 123
1234